.footer1_outer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
    margin-top: 6rem;
}

.footer1{
    width: 87rem;
    height: 13.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.footer1_text{
    font-family: "Sora", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.75rem;
    color: var(--primary-white);
    text-align: center;
}

.footer1_detail{
    font-family: "Outfit", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--primary-gray);
    line-height: 1.875rem;
    text-align: center;
}