.article_outer{
    display: flex;
    justify-content: center;
    align-items: end;
    /* background-color: white; */
    height: 27.5rem;
}

.article{
    height: 20.4rem;
    width: 87rem;
    /* background-color: bisque; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.article_box1{
    height: 100%;
    /* background-color: blue; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article_box2{
    width: 40%;
    height: 100%;
}


.article_box1_b1{
    color: var(--primary-white);
    /* background-color: burlywood; */
    width: 100%;
    height: 50%;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Sora", Sans-serif; 
    display: flex;
    justify-content: start;
    align-items: start;
}

.article_box1_b2{
    color: var(--primary-gray);
    /* background-color: gray; */
    width: 100%;
    height: 20%;
    font-size: 1.125rem;
    font-weight: 300;
    font-family: "Outfit", Sans-serif; 
}

.article_box1_b3{
    /* background-color: green; */
    width: 100%;
    height: 30%;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: "Sora", Sans-serif; 
    display: flex;
    justify-content: start;
    align-items: center;
 
}

.b3_link{
    text-decoration: none;
    color: #ffffff;
    background: var(--linear-gradient);
    padding: 20px 35px;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article_box2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.article2_outer{
    /* background-color: gainsboro; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.article2{
    width: 87rem;
    /* background-color:chocolate; */
    height: 68.25rem;
    padding: 6.25rem 0rem;
}

.article2_heading{
    color: var(--primary-white);
    font-family: "Sora", Sans-serif; 
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 3.75rem;
    /* background-color:blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    text-align: center;
    margin-bottom:  3.125rem;
}

.article2_bigcard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 6.25rem;
}

.bigcard_card1{
    width: 50%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    /* margin-top: 10rem; */
    /* margin-right: 20px; */
}

.bigcard_card2{
    width: 50%;
    height: 100%;
    /* background-color:darkgray; */
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}

.card1__render{
    /* background-color: rebeccapurple; */
    height: 35.125rem;
    /* width: 39.375rem; */
    /* height: 80%; */
    width: 98%;
    background: var(--card-color);
    margin-top: 10px;
    /* margin: 50px 10px 120px; */
    /* margin-right: 10px; overriding property */
}

.card2__render{
    /* background-color: rebeccapurple; */
    height: 42rem;
    /* width: 39.375rem; */
    /* height: 80%; */
    width: 98%;
    background: var(--card-color);
    display: flex;
    /* margin: 80px 10px 10px; */
    /* margin-left: 10px;  overriding property */
}

.card1__heading{
    font-family: "Sora", Sans-serif; 
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-white);
    height: 2.813rem;
    width: 34.125rem;
}

.card2__heading{
    font-family: "Sora", Sans-serif; 
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-white);
    height: 2.813rem;
    text-align: left;
    /* background-color: red; */
    width: 34.125rem;
}

.card1__content{
    font-family: "Outfit", Sans-serif; 
    font-size: 1.125rem;
    color: var(--primary-gray);
    font-weight: 300;
    height: 3.75rem;
    width: 34.125rem;
}

.card2__content{
    font-family: "Outfit", Sans-serif; 
    font-size: 1.125rem;
    color: var(--primary-gray);
    font-weight: 300;
    height: 3.75rem;
    width: 34.125rem;
}

.card1__render{
    border-radius: 1.25rem;
    border-color: #FFFFFF10;
    border-style: solid;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.card2__render{
    border-radius: 1.25rem;
    border-color: #FFFFFF10;
    border-style: solid;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.card1__display{
    height: 22.063rem;
}

.card2__display{
    height: 24.5rem;
}