.header{
    height: 3.8rem;
    background-color: var(--advertise-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    /* z-index: 1000; */
}

.header_logo_envato{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.logo_envato_img{
    width: 10.6rem;
}

.header_button{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    padding: 0.52rem 1.35rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--advertise-button);
    box-shadow: 0 2px 0 var(--advertise-background);
    border-radius: 0.25rem;
}

.button_buynow{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}