@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0e0f1a;
}

:root{
    --primary-white: #EEE5FF;
    --primary-gray: #EEE5FFBD;
    --primary-black: #0D051F;
    --advertise-background: #262626;
    --advertise-button: #82B440;
}

